<% @items.select { |item| item[:language] == @item[:language] && item[:header] }.sort_by{ |i| i[:header][:layer] }.reverse.each do |item| %>
<section class="<%= item[:item] %>"<% if @item[:item] == item[:item] %> class="active"<% end %>>
  <a href="<%= item.path %>">
    <h2>
      <span class="layer"><%= item[:header][:layer] %></span>
      <i class="fa fa-<%= item[:header][:icon] %> fa-fw"></i> &nbsp;
      <strong><%= item[:header][:title] %></strong>
      <i class="fa fa-arrow-right"></i>
    </h2>
  </a>
</section>
<% end %>
