<section class="application_layer" <% if @item[:item] == 'application_layer'%>class="active"<% end %>>
  <a href="/application-layer">
    <h2>
      <span class="layer">Layer <strong>7</strong></span>
      <i class="fa fa-rocket fa-fw"></i> &nbsp;
      <strong>Application</strong> Layer

      <i class="fa fa-arrow-right"></i>
    </h2>
  </a>
</section>

<section class="presentation_layer" <% if @item[:item] == 'presentation_layer'%>class="active"<% end %>>
  <a href="/presentation-layer">
    <h2>
      <span class="layer">Layer <strong>6</strong></span>
      <i class="fa fa-hand-pointer-o fa-fw"></i> &nbsp;
      <strong>Presentation</strong> Layer

      <i class="fa fa-arrow-right"></i>
    </h2>
  </a>
</section>

<section class="session_layer" <% if @item[:item] == 'session_layer'%>class="active"<% end %>>
  <a href="/session-layer">
    <h2>
      <span class="layer">Layer <strong>5</strong></span>
      <i class="fa fa-cogs fa-fw"></i> &nbsp;
      <strong>Session</strong> Layer

      <i class="fa fa-arrow-right"></i>
    </h2>
  </a>
</section>

<section class="transport_layer" <% if @item[:item] == 'transport_layer'%>class="active"<% end %>>
  <a href="/transport-layer">
    <h2>
      <span class="layer">Layer <strong>4</strong></span>
      <i class="fa fa-bus fa-fw"></i> &nbsp;
      <strong>Transport</strong> Layer

      <i class="fa fa-arrow-right"></i>
    </h2>
  </a>
</section>

<section class="network_layer">
  <a href="/network-layer">
    <h2>
      <span class="layer">Layer <strong>3</strong></span>
      <i class="fa fa-server fa-fw"></i> &nbsp;
      <strong>Network</strong> Layer

      <i class="fa fa-arrow-right"></i>
    </h2>
  </a>
</section>

<section class="data_link_layer">
  <a href="/data-link-layer">
    <h2>
      <span class="layer">Layer <strong>2</strong></span>
      <i class="fa fa-database fa-fw"></i> &nbsp;
      <strong>Data Link</strong> Layer

      <i class="fa fa-arrow-right"></i>
    </h2>
  </a>
</section>

<section class="physical_layer">
  <a href="/physical-layer">
    <h2>
      <span class="layer">Layer <strong>1</strong></span>
      <i class="fa fa-desktop fa-fw"></i> &nbsp;
      <strong>Physical</strong> Layer

      <i class="fa fa-arrow-right"></i>
    </h2>
  </a>
</section>
