---
language: de

title: Das OSI-Modell einfach und übersichtlich
description: The 7 Layers of the OSI Model. Learn about the OSI-Model trough a simple website! All the related protocols, services and general OSI Model info in one place
keywords:
  - OSI Model
  - osi reference model
  - 7 osi layer
  - osi model layers
  - osi model explained
  - iso/osi reference model
---

<header id="home">
  <div class="row">
    <div class="col-md-12" style="margin-top:-3em;">
      <%= render '/partials/languages.html' %>
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
      <i class="fa fa-list" style="font-size:70px"></i>
      <h1>OSI-Modell</h1>
      <h3>Open Systems Interconnection Modell</h3>
      <p>
        Das OSI Modell wurde 1977 designed und ist teil der ISO Spezification seit 1984.<br>
        Jede OSI Schicht hat ihren eigenen zweck für Netzwerk Kommunikation.
      </p>
      <br>
      <div class="row">
        <div class="col-md-6">
          <a href="https://twitter.com/share" class="twitter-share-button" data-hashtags="OSI-Model">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>
        <div class="col-md-6">
          <div id="fb-root"></div>
          <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=818382568212646";
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));</script>
          <div class="fb-like" data-href="https://osi-model.com/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
        </div>
      </div>
    </div>
    <div class="col-md-4">

    </div>
  </div>
</header>

<%= render '/partials/layers.html' %>

<footer class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <h2>Popular OSI Acronyms (Layer 1-7)</h2>
      <ul class="big">
        <li>All People Seem To Need Data Protection</li>
        <li>All Presidents Say They Never Did Pot</li>
        <li>All People Say They Never Download Porn</li>
      </ul>
    </div>

    <div class="col-md-4">
      <h2>Popular OSI Acronyms (Layer 7-1)</h2>
      <ul class="big">
        <li>Please Do Not Throw Sausage Pizza Away</li>
        <li>People don't need those stupid packets anyway</li>
        <li>Please Do Not Teach Students Pointless Acronyms</li>
        <li>Programmers Dare Not Throw Salty Pretzels Away</li>
      </ul>
    </div>

    <div class="col-md-4">
      <h2>Layer 8</h2>
      <p class="big">Layer 8 is a popular phrase in IT describing <strong>the user</strong>. Common problems will usually be this layer. Common Protocols on this layer are Coffee, Beer and Pizza. Some even suggest Layer 9, the organization and layer 10 as the goverment or legal compliance.</p>
    </div>
  </div>
  <hr>
</footer>
